.DS_Store
.vscode/
/tmp/
node_modules/
*.pyc
/.vs
public/
migration-tools/arangoproxy/cmd/cache/*
migration-tools/arangoproxy/cmd/openapi/*
migration-tools/arangoproxy/cmd/log.txt
openapi/arangostub/*
openapi/openapitools.json
site/resources
.vagrant/
