# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
description: >- # this means to ignore newlines until "baseurl:"
  ArangoDB Documentation
baseurl: "/docs" # the subpath of your site, e.g. /blog
twitter_username: jekyllrb
github_username:  jekyll

url: "https://www.arangodb.com" # the base hostname & protocol for your site

# Certain directories can be excluded from sitemap,
# but including the stable folder (symlink) does not work.
#plugins:
#  - jekyll-sitemap
#
#defaults:
#    scope:
#      path: stable/**
#    values:
#      sitemap: true

# Build settings
markdown: kramdown

kramdown:
  typographic_symbols:
    mdash: "---"
    ndash: "--"

theme: minima
plugins:
  - jekyll-feed
  - jekyll-redirect-from

algolia:
  application_id: IOUJQ85602
  index_name: dev_DOCS
  search_only_api_key: 1fc63d8ff5b71963f0354561b770b591
  files_to_exclude:
    - 3.5/**
    # - 3.4/** # OUR STABLE VERSION
    - 3.3/**
    - 3.2/**
    - 3.1/**
    - 3.0/**
    - 2.8/**

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - _redirects
  - netlify.sh
  - netlify.toml
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - scripts
  - sitemap.rb
  - Dockerfile
  - TODO.md
  - htmltest
  - 3.5/generated
  - 3.4/generated
  - 3.3/generated
  - 3.2/generated
  - 3.1/generated
  - 3.0/generated
  - 2.8/generated
  # - 3.5/
  # - 3.4/
  # - 3.3/
  # - 3.2/
  # - 3.1/
  # - 3.0/
  # - 2.8/

versions:
  stable: "3.4"
  devel: "3.5"

