<!-- Including InstantSearch.js library and styling -->
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">

<script>
// Instanciating InstantSearch.js with Algolia credentials
const search = instantsearch({
  appId: '{{ site.algolia.application_id }}',
  indexName: '{{ site.algolia.index_name }}',
  apiKey: '{{ site.algolia.search_only_api_key }}',
  searchFunction: function(helper) {
    var container = document.querySelector('#search-hits');

    if (helper.state.query === '') {
        container.style.display = 'none';
    } else {
        container.style.display = '';
    }

    helper.search();
  }
});

// Adding searchbar and results widgets
search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#search-searchbar',
    placeholder: 'Search Documentation...',
    poweredBy: false // This is required if you're on the free Community plan
  })
);
search.addWidget(
    instantsearch.widgets.hits({
        container: '#search-hits',
        templates: {
            item: function(hit) {
                return '<div class="post-item">' +
                    '<a class="post-link" href="{{ site.baseurl }}' + hit.url + '"><div>' + (hit.headings[0] || "ArangoDB Documentation") + '</div>' +
                    '<div class="post-snippet">' + hit.excerpt_text + '</div></a>' +
                    '</div>';
            },
        },
    })
);

// Starting the search
search.start();
</script>