<div id="{{ include.id }}" class="example-container {% if include.query | split "\n" | size > 5 %}hide-result{% endif %}">
    <div>
        <pre>
{{ include.query|strip }}
        </pre>
        <div class="show-button">
            <div class="example_show_button" onclick="document.querySelector('#{{ include.id }}').className = document.querySelector('#{{ include.id }}').className.replace('hide-result', 'show-result')">Show query results</div>
        </div>
    </div>
    <div class="example-result">
        <pre>
{{ include.result|strip }}
        </pre>
        <div>
            <div class="example_show_button" onclick="document.querySelector('#{{ include.id }}').className = document.querySelector('#{{ include.id }}').className.replace('show-result', 'hide-result')">Hide query results</div>
        </div>
    </div>
</div>
    