{% comment %}lol. splitting by \n doesn't work :S so split by <br{% endcomment %}
{% assign resultlines=include.result | newline_to_br | split: "<br" | size %}
<div id="{{ include.id }}" class="example-container {% if resultlines > 5 %}hide-result{% endif %}">
    <div>
        <pre>{{ include.script | strip }}</pre>
    </div>
    <div class="show-button">
        <div class="example_show_button" onclick="document.querySelector('#{{ include.id }}').className = document.querySelector('#{{ include.id }}').className.replace('hide-result', 'show-result')">Show execution results</div>
    </div>
    <div class="hide-button">
        <div class="example_show_button" onclick="document.querySelector('#{{ include.id }}').className = document.querySelector('#{{ include.id }}').className.replace('show-result', 'hide-result')">Hide execution results</div>
    </div>
    <div class="example-result">
        {%- assign stripped_result = include.result | strip %}
        {%- if stripped_result == '' %}
        <pre><i>(Empty output)</i></pre>
        {%- else %}
        <pre>{{ stripped_result }}</pre>
        {%- endif %}
    </div>
</div>