
{% assign sections=include.options | options_by_section %}
{% for section in sections %}
## {{ section[0] | capitalize_section }}

{% if include.name=="arangod" %}
{% if section[0]=="ldap2" %}
The `ldap2.*` options are identical to the `ldap.*` options, but configure a
secondary LDAP server. See
[LDAP Secondary server options (`ldap2`)](programs-arangod-ldap.html#secondary-server-options-ldap2).
{% else %}
Also see [{{ section[0] | capitalize_section }} details](programs-arangod-{{ section[0] }}.html).
{% endif %}
{% endif %}

| Name | Type | Description |
|------|------|-------------|
{% for option in section[1] -%}
{%- if option[1].obsolete == false -%}
{%- capture description -%}
{%- if option[1].enterpriseOnly -%}
*Enterprise Edition only*<br>
{%- endif -%}
{{ option[1].description | upcase_first }}
{%- if option[1].requiresValue != true and option[1].category != "command" -%}
<br>This option can be specified without value to enable it.
{%- endif -%}
{%- if option[1].category == "command" -%}
<br>This is a command, no value needs to be specified. The process terminates after executing the command.
{%- endif -%}
{%- if option[1].default != nil and option[1].category != "command" -%}
<br>
{%- if option[1].dynamic -%}
Default: *dynamic* (e.g. `{{ option[1].default | jsonify }}`)
{%- else -%}
Default: <code>{{ option[1].default | jsonify }}</code>
{%- endif -%}
{%- endif -%}
{%- if option[1].values %}<br>{{ option[1].values }}{% endif -%}
{%- if option[1].os and options[1].os.size < 3 -%}
<br>Available on {{ option[1].os | capitalize_os | join_natural }} only.
{%- endif -%}
{%- if option[1].component and option[1].component.size < 4 -%}
<br>Effective on {{ option[1].component | capitalize_components | join_natural }} only.
{%- endif -%}
{%- if option[1].introducedIn -%}
<br><small>Introduced in: {{ option[1].introducedIn | join: ", " }}</small>
{%- endif -%}
{%- if option[1].deprecatedIn -%}
<br><small>Deprecated in: {{ option[1].deprecatedIn | join: ", " }}</small>
{%- endif -%}
{%- endcapture -%}
| `{{ option[0] }}` | {{ option[1].type }} | {{ description }} |
{% endif -%}
{%- endfor -%}

{% endfor %}