{% assign sections=include.options | options_by_section %}
{% for section in sections %}
## {{ section[0] | capitalize_section }}

{% if include.name=="arangod" %}
{% if section[0]=="ldap2" %}
The `ldap2.*` options are identical to the `ldap.*` options, but configure a
secondary LDAP server. See
[LDAP Secondary server options (`ldap2`)](programs-arangod-ldap.html#secondary-server-options-ldap2).
{% elsif section[0]=="rocksdb" %}
RocksDB is a highly configurable key-value store used to power ArangoDB's RocksDB
storage engine. Most of the options on this page are pass-through options to the
underlying RocksDB instance, and only a few of its default settings are changed.
{% endif %}
{% endif %}

{% for option in section[1] %}
{% if option[1].obsolete == false %}
### `--{{ option[0] }}`

{% if option[1].introducedIn %}
<small>Introduced in: {{ option[1].introducedIn | join: ", " }}</small>
{% endif %}
{% if option[1].deprecatedIn %}
<small>Deprecated in: {{ option[1].deprecatedIn | join: ", " }}</small>
{% endif %}

{% if option[1].enterpriseOnly %}
*Enterprise Edition only*
{% endif %}

**Type**: {{ option[1].type }}

{{ option[1].description | upcase_first | escape }}

{% if option[1].requiresValue != true and option[1].category != "command" %}
This option can be specified without a value to enable it.
{% endif %}

{% if option[1].category == "command" %}
This is a command, no value needs to be specified. The process terminates after executing the command.
{% endif %}

{% if option[1].default != nil and option[1].category != "command" %}
{% if option[1].dynamic %}
Default: _dynamic_ (e.g. `{{ option[1].default | jsonify }}`)
{% else %}
Default: `{{ option[1].default | jsonify }}`
{% endif %}
{% endif %}

{% if option[1].values %}
{{ option[1].values }}
{% endif %}

{% if option[1].os and options[1].os.size < 3 %}
Available on {{ option[1].os | capitalize_os | join_natural }} only.
{% endif %}

{% if option[1].component and option[1].component.size < 4 %}
Effective on {{ option[1].component | capitalize_components | join_natural }} only.
{% endif %}

{% if option[1].longDescription %}
{% details "Show details&hellip;" %}
{{- option[1].longDescription -}}
{% enddetails %}
{% endif %}

{% if forloop.last %}{% else %}
---
{% endif -%}

{% endif %}
{% endfor %}

{% endfor %}