<div class="arangodb-header">
    <div class="arangodb-logo">
      <a href="https://arangodb.com/">
        <img src="/docs/assets/arangodb_logo_2016.png">
      </a>
    </div>
    <div class="arangodb-logo-small">
      <a href="https://arangodb.com/">
        <img src="/docs/assets/arangodb_logo_small_2016.png">
      </a>
    </div>
    <select class="arangodb-version-switcher">
      <option value="devel">devel</option>
      <option value="stable">v3.4</option>
      <option value="3.3">v3.3</option>
      <option value="3.2">v3.2</option>
      <option value="3.1">v3.1</option>
      <option value="3.0">v3.0</option>
      <option value="2.8">v2.8</option>
    </select>
    <script type="text/javascript">
      var versionAliases = {{ site.versions|jsonify }};
      var current = location.href;

      var selectedVersion = current.split('/')[4];
      var selectedManual = current.split('/')[5];

      if (selectedManual.match(/\.html/)) {
        selectedManual = "";
      }

      var switcher = document.querySelector(".arangodb-version-switcher");

      for (var i=0;i<switcher.options.length;i++) {
        var value = switcher.options.item(i).value;
        if (value == selectedVersion) {
          switcher.value = value;
        } else if (versionAliases[value] == selectedVersion) {
          switcher.value = value;
        }
      }
      
      switcher.addEventListener('change', function(event) {
        var current = location.href;
        var selectedManual = current.split('/')[5];
        location.href = "/docs/" + event.target.value + "/" + selectedManual;
      });
    </script>
    {% assign version = page.url | split: "/" | slice: 1 | first %}
    {% assign selected = page.url | split: "/" | slice: 2 | first %}
    {% if selected contains ".html" %}
    {% assign selected = "manual" %}
    {% endif %}
    {% assign grr = page.url | split: "/" | size %}
    {% if grr < 3 %}
    {% assign selected = "manual" %}
    {% endif %}
    <ul class="arangodb-navmenu">
      <li{% if selected == "manual" %} class="active-tab"{% endif %}>
        <a href="/docs/{{ version }}/" data-book="Manual">Manual</a>
      </li>
      {% if site.data.books[version] contains "aql" %}
      <li{% if selected == "aql" %} class="active-tab"{% endif %}>
        <a href="/docs/{{ version }}/aql/" data-book="AQL">AQL</a>
      </li>
      {% endif %}
      {% if site.data.books[version] contains "http" %}
      <li{% if selected == "http" %} class="active-tab"{% endif %}>
        <a href="/docs/{{ version }}/http/" data-book="HTTP">HTTP</a>
      </li>
      {% endif %}
      {% if site.data.books[version] contains "cookbook" %}
      <li{% if selected == "cookbook" %} class="active-tab"{% endif %}>
        <a href="/docs/{{ version }}/cookbook/" data-book="Cookbook">Cookbook</a>
      </li>
      {% endif %}
      {% if site.data.books[version] contains "drivers" %}
      <li{% if selected == "drivers" %} class="active-tab"{% endif %}>
        <a href="/docs/{{ version }}/drivers/" data-book="Drivers">Drivers</a>
      </li>
      {% endif %}
      <li class="downloadIcon" title="Download">
        <a href="https://www.arangodb.com/download-arangodb-docs" target="_blank">
          <i class="fa fa-download"></i>
        </a>
      </li>
      <li class="socialIcons" title="GitHub">
        <a href="https://github.com/ArangoDB/ArangoDB/issues" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li class="socialIcons" title="StackOverflow">
        <a href="http://stackoverflow.com/questions/tagged/arangodb" target="_blank">
          <i class="fa fa-stack-overflow"></i>
        </a>
      </li>
      <li class="socialIcons socialIcons-googlegroups" title="Google Groups">
        <a href="https://groups.google.com/forum/#!forum/arangodb" target="_blank">
          <img alt="Google Groups" src="/docs/assets/googlegroupsIcon.png">
        </a>
      </li>
      <li class="socialIcons" title="Slack">
        <a href="https://slack.arangodb.com" target="_blank">
          <i class="fa fa-slack"></i>
        </a>
      </li>
      <li>
        <div class="searchbar">
          <div id="search-searchbar"></div>
        </div>
      </li>
      <li style="width: 120px">
      </li>
    </ul>
    <div id="search-hits"></div>
  </div>