{{ if in .Inner "---" }}
  {{ $metadata := findRE `(?ms)---.*---` .Inner }}
  {{ $test := index $metadata 0 | transform.Unmarshal }}
  {{ $name := $test.name }}
  {{ $version := $test.version }}
  {{ $release := $test.release }}
  {{ $cacheEntry := printf "%s_%s_%s" $name $release $version }}
  {{ warnf "ESEMPIO '%v'" $cacheEntry }}
  {{ $cache := index site.Data "cache" }}
  {{ $cacheFound :=  index $cache $cacheEntry }}
  {{ with $cacheFound }}
    {{ $request := .request | base64Decode | transform.Unmarshal  }}
    {{ $response := .response | base64Decode | transform.Unmarshal }}
    {{ if in $response.options.render "input" }}
      {{ transform.Highlight $response.input "js" }}
    {{ end }}
    {{ if in $response.options.render "output" }}
      {{ $x := transform.Highlight $response.output "" }}
      {{- partial "shortcodes/expand.html" (dict
        "context" .
        "content" $x
        "open"    "open"
        "title"   "show output"
      ) }}
    {{ end }}
  {{ end }}
{{ end }}