{{ $src := .Destination  }}
{{ $alt := .PlainText | safeHTML }}

{{ if $src }}
{{ $style := "" }}
{{ $styles := split .Destination "?"}}
{{ $filepath := index $styles 0}}
{{ $file := resources.GetMatch ( index $styles 0 ) }}
{{ with index $styles 1}}
    {{ $styles2 := split . "&" }}
    {{ range $styles2 }}
        {{ replace . "=" ": " }}
        {{ $style = printf "%s\n%s;" $style . }}
        {{ warnf "Style '%v'" $style}}
    {{ end }}
{{ end }}
    <a href="{{ $file.RelPermalink }}">
    
        <img 
       alt="{{ $alt }}"  src="{{ $file.RelPermalink }}" {{ if $style }}class="x-style" x-style="{{ $style }}"{{ end }}>
    
    </a>
{{ end }}

