{{ if in .Inner "---" }}
  {{ $metadata := findRE `(?ms)---.*---` .Inner }}
  {{ $test := index $metadata 0 | transform.Unmarshal }}
  {{ $name := $test.name }}
  {{ $version := $test.version }}
  {{ $release := $test.release }}
  {{ $cacheEntry := printf "%s_%s_%s" $name $release $version }}
  {{ $cache := index site.Data "cache" }}
  {{ $cacheFound :=  index $cache $cacheEntry }}


  {{ if $cacheFound }}
    {{ $oldRequest := .Inner | base64Encode }}

    {{ with $cacheFound }}
      {{ if ne $oldRequest .request }}
      {{ else }}
        {{ $request := .request | base64Decode | transform.Unmarshal  }}
        {{ $response := .response | base64Decode | transform.Unmarshal }}
        {{ if in $response.options.render "input" }}
          {{ transform.Highlight $response.input "js" }}
        {{ end }}
        {{ if in $response.options.render "output" }}
          {{ $x := transform.Highlight $response.output "" }}
          {{- partial "shortcodes/expand.html" (dict
            "context" .
            "content" $x
            "open"    "open"
            "title"   "show output"
          ) }}
        {{ end }}
      {{ end}}
    {{ end }}
  {{ else }}
    {{ warnf "CACHE NOT FOUND" }}
    {{ if site.Params.useArangoproxy }}
      {{ $endpoint := printf "%s/curl" site.Params.arangoproxyUrl }}
      {{ $remote := resources.GetRemote $endpoint (dict
          "method" "post"
          "body" .Inner
        )
      }}
      {{ if $remote }}
        {{ if $remote.Err }}
          {{ warnf "[CURL] ERROR CALLING ENDPOINT %#v" .Position }}
        {{ else }}
          {{ $response := unmarshal $remote.Content }}
          {{ if $response.error }}
            Error found in the example: {{ $response.error }}
          {{ end }}
          {{ if in $response.options.render "input" }}
            {{ transform.Highlight $response.input "js" }}
          {{ end }}
          {{ if in $response.options.render "output" }}
            {{ $x := transform.Highlight $response.output "" }}
            {{- partial "shortcodes/expand.html" (dict
              "context" .
              "content" $x
              "open"    "open"
              "title"   "show output"
            ) }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ transform.Highlight .Inner "js" }} 
{{ end }}