
{{ if in .Inner "---" }}
  {{ $remote := resources.GetRemote "http://localhost:8080/js" (dict
      "method" "post"
      "body" .Inner
    )
  }}
{{ if $remote }}
  {{ if $remote.Err }}
      {{ warnf "[JS] ERROR CALLING ENDPOINT %#v" .Position }}
{{ else }}
  {{ $response := unmarshal $remote.Content }}
      {{ if in $response.options.render "input" }}
      {{ $version := replace $response.options.version "." "" }}
        <div class="version {{ $version }}" style="display: none;">
          {{ transform.Highlight $response.input "js" }}
        </div>
      {{ end }}
      {{ if in $response.options.render "output" }}
      {{ $version := replace $response.options.version "." "" }}
        <div class="version {{ $version }}" style="display: none;">
          {{ $x := transform.Highlight $response.output "" }}
        {{- partial "shortcodes/expand.html" (dict
          "context" .
          "content" $x
          "open"    "open"
          "title"   "show output"
        ) }}
        </div>
      {{ end }}
    {{ end }}
{{ else }}
{{ transform.Highlight .Inner "js" }}
{{ end }}
{{ end }}