
{{ if and (site.Params.useCodeblockHook) (not site.Params.buildForApiDocs) }}

  {{ if in .Inner "---" }}
    {{ $remote := resources.GetRemote "http://localhost:8080/js" (dict
        "method" "post"
        "body" .Inner
      )
    }}
  {{ if $remote }}
  {{ if $remote.Err }}
          {{ warnf "[HTTP-JS] ERROR CALLING ENDPOINT %#v" .Position }}
    {{ else }}
    {{ $response := unmarshal $remote.Content }}
        {{ if in $response.options.render "input" }}
        {{ $version := replace $response.options.version "." "" }}
            {{ transform.Highlight $response.input "js" }}
        {{ end }}
        {{ if in $response.options.render "output" }}
        {{ $version := replace $response.options.version "." "" }}
            {{ $x := transform.Highlight $response.output "" }}
          {{- partial "shortcodes/expand.html" (dict
            "context" .
            "content" $x
            "open"    "open"
            "title"   "show output"
          ) }}
      {{ end }}
        {{ end }}
  {{ else }}
    {{ transform.Highlight .Inner "js" }}
  {{ end }}
  {{ end }}

{{ end }}