.autocomplete-suggestions {
    position: absolute;
    width: 400px;
    border: 1px solid #000;
    right: 20px;
    top: 50px;
    background-color: #f7f7f7;
    display: none;
    z-index: 9999;
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
}
.autocomplete-suggestion {
    padding: 10px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #666;
    text-decoration: none;
    font-family: Roboto,Helvetica,sans-serif;
}

.autocomplete-suggestion b {
    font-weight: normal;
    color: #1f8dd6;
}

.autocomplete-suggestion.selected {
    background: #333;
    color: #fff;
}

.autocomplete-suggestion:hover {
    background: #577138;
    color: #fff;
}

.autocomplete-suggestion > .context {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}
