.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card {
    overflow: hidden;
    position: relative;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 30%;
    padding: 1rem;
    margin: 0 1rem 1rem 0;
    border-radius: 0.5rem;
    border: 1px solid #d5d9de;
    box-shadow: 0 4px 10px -4px rgb(0 30 43 / 30%);
    flex: 1 0 0em;

}

.card-2x-row{
    flex: 0 0 23em;
}

.card-3x-row{
    flex: 0 0 17em;
}


.card > p {
    margin: unset;
    font-family: 'Euclid Circular A',Akzidenz,'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #001E2B;
    font-size: 16px;
    line-height: 28px;
    color: #001E2B;
    font-weight: 400;
    margin: 0rem 1em 1em 4em;
}

.card-icon {
    width: 3.5em !important;
    border-radius: 50%;
    float: left;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.card-title {
    font-size: 1.1rem;
    color: #000000;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    line-height: 1.5;
    margin: 0.5rem 1em 1em 4em;
}
