.feature-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}


.one-two-col {
    grid-column: 1 / 3;
    grid-row: 1;
}

.core-features-row {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.prod-features-row {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
