.feature-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(min-content, max-content);
    border: 2px solid #000000;
    border-radius: 5px;
}

.one-two-col {
    grid-column: 1 / 3;
    grid-row: 1;
}

.core-features-row {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.prod-features-row {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.core-features-elements {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
}

.prod-features-elements {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: grid;
}

