.tableOfContentContainer {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 5.25px;
    height: 10%;
    right: 0;
    line-height: 1.574;
    min-height: 100%;
    min-width: 0px;
    max-width: 300px;
    position: fixed;
    width: 300px;
    z-index: 80;
    bottom: -100px;
}

.toc-header {
    font-size: 20px;
    font-weight: 500;
}

.toc-content {
    margin-bottom: 30px;
    margin-right: 24px;
}

.toc-header > p {
    font-size: 15px;
    line-height: 16px;
    font-weight: bolder;
    letter-spacing: 0;
    margin: 0px 0px 0px 0px;
}

#TableOfContents ul {
    list-style: none;
    margin: 0 0 0 0;
}

#TableOfContents a {
    border-left: 1px solid #e2e8f0;
    display: inline-block;
    padding: 0.25rem 0 0.25rem 0.5rem;
    text-decoration: none;
    color: #4a4a4a;
}

#TableOfContents .is-active {
    color: #577138;
    font-weight: bold;
    border-left: 2px solid #577138;
}

