.tableOfContentContainer {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 5.25px;
    height: 10%;
    right: 0;
    line-height: 1.574;
    min-height: 100%;
    min-width: 300px;
    max-width: 300px;
    position: fixed;
    width: 300px;
    z-index: 80;
    bottom: -100px;
}

.toc-header {
    font-size: 20px;
    font-weight: 500;
}