<div class="feature-cards-wrapper">
  <div class="one-two-col"></div>
  <div class="community-checks-col">Community Edition</div>
  <div class="enterprise-checks-col">Enterprise Edition</div>
  <div class="core-features-row">Core Features</div>
  <div class="prod-features-row">Production Features</div>
  <div class="core-features-elements">
    <div>Multi-Model Architecture</div>
    <div>AQL</div>
    <div>ArangoSearch</div>
    <div>Flexible Deployments</div>
    <div>Free Online Resources / Tutorials</div>
  </div>
  <div class="prod-features-elements">
    <div>Advanced Security</div>
    <div>24x7 Support w/ SLAs & Training</div>
    <div>Replication & Disaster Recovery</div>
    <div>Speed & Performance Features</div>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>