{{ $data := getJSON "data/test/docs.json" }}
{{ $x := $data.definitions | jsonify }}

<style>
  rapi-doc::part(section-endpoint-head-method) {
    font-size: 11px;
  }
</style>
<rapi-doc
  id="test"
  allow-spec-file-download="true"
  default-schema-tab="example"
  font-size="largest"
  layout="column"
  load-fonts="false"
  render-style="view"
  schema-description-expanded="true"
  schema-style="table"
  show-header="false"
  sort-tags="true"
></rapi-doc>
<script>
    let docEl = document.getElementById("test");
    let objSpec = JSON.parse("{{ $x }}");
    docEl.loadSpec(objSpec);
</script>
{{- .Page.Store.Set "hasSwagger" true }}