{{ $image := resources.GetMatch ( .Get "src" ) }}
{{ $inline := .Get "inline" }}

{{ $width := 600 }}
{{ $size := .Get "size" | default ""}}
{{- if eq $size "small" -}}
  {{- $width = 300 -}}
{{- else if eq $size "medium" -}}
    {{- $width = 600 -}}
{{- else if eq $size "large" -}}
    {{- $width = 1200 -}}    
{{- end }}

{{- if eq $inline "true" }}
<p>
    <img class="inline-img" {{ with $image }}src="{{ .RelPermalink }}"{{ end }}  {{ with .Get "alt" }}alt="{{ . }}"{{ end }} />
</p>

{{- else }}
<div class="flex-container">
    <figure>
        <img {{ with $image }}
                {{ if eq .MediaType.SubType "svg" }} 
                    src="{{ .RelPermalink }}"
                {{- else }}
                    {{ if eq $size "" }}
                        src="{{ .RelPermalink }}" 
                    {{- else }}
                    src="{{ (.Resize (printf "%dx" $width)).RelPermalink }}"
                    {{ end }}
                {{ end }}

                {{ end }}  {{ with .Get "alt" }}alt="{{ . }}"
            {{ end }} />
        {{ with .Get "alt" }}
        <figcaption>
            <div class="caption">{{ . }}</div>
        </figcaption>
        {{ end }}
    </figure>
</div>
{{ end }}