<footer>
  <div class="footer-container">
      <div class="footer-col">
        <div class="logo footer-logo "><a href="https://www.arangodb.com/"><img src="/images/logo_main.png" alt="ArangoDB" title=""></a></div>
        <p id="footer-trademark">© <span id="footer-copyright-year">2023</span> ArangoDB, Inc.<br></p>
      </div>
      <div class="footer-col">
      </div>
      <div class="footer-col">
      </div>
      <div class="footer-col">
            <p class="footer-col-title">Social</p>
            <ul class="footer-social">
              <li class="css-1w8osvb">
                <a class="footer-social-icon" aria-label="" href="https://github.com/ArangoDB/ArangoDB/issues" target="_blank"><i class="fab fa-fw fa-github"></i>
                  Github</a>
              </li>
              <li class="css-1w8osvb">
                <a class="footer-social-icon" aria-label="" href="https://stackoverflow.com/questions/tagged/arangodb" target="_blank"><i class="fab fa-stack-overflow"></i>
                  Stack Overflow</a>
              </li>
              <li class="css-1w8osvb">
                <a class="footer-social-icon" aria-label="" href="https://slack.arangodb.com/" target="_blank"><i class="fab fa-slack"></i>
                  Slack</a>
              </li>
              <li class="css-1w8osvb">
                <a class="footer-social-icon" aria-label="" href="https://www.linkedin.com/company/arangodb" target="_blank"><i class="fab fa-linkedin-in"></i>
                  LinkedIn</a>
              </li>
      </div>
  </div>
</footer>