<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  {% include topnav.html %} 
  <div class="book with-summary font-size-2 font-family-1">
    <div class="book-summary">
      {% include sidebar.html %}
    </div>
    <div class="book-body">
        <div class="body-inner">
            <div class="book-header" role="navigation">
              <a class="btn pull-left js-toolbar-action hamburger" aria-label=""><i class="fa fa-align-justify"></i></a>
              <a class="btn pull-left js-toolbar-action" aria-label="" href="https://github.com/arangodb/docs/tree/master/{{ page["path"] }}" target="_blank"><i class="fa fa-edit"></i> Edit Page</a>
          </div>
          <div class="page-wrapper" tabindex="-1" role="main">
            <div class="page-inner">
              <section class="normal markdown-section">
                {% if site.data.deprecations contains page.version.version %}
                {% hint 'warning' %}
ArangoDB v{{ page.version.version }} reached End of Life (EOL) and is no longer supported.

This documentation is outdated. Please see the most recent version here: <a href="/docs/stable" target="_blank">Try latest</a>
                {% endhint %}
                {% endif %}
                {{ content|replace: "–", "--" }}
              </section>
              {% include page-nav.html %}
              <div id="page-footer" class="localized-footer">
                <hr>
                <p>© ArangoDB - the native multi-model NoSQL database</p>
              </div>
            </div>
          </div>
          <script type="text/javascript">
            var disablePageToc = {{ page["page-toc"].disable | jsonify }};
            if (!disablePageToc) {
              generateToc();
            }
          </script>
        </div>
      </div>
    </div>
  </div>
  {% include algolia.html %}
</body>
</html>