<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  {% include anchor-links.html %}
  {% include topnav.html %}
  <div class="book without-animation with-summary font-size-2 font-family-1">
    <div class="book-summary">
      {% include sidebar.html %}
    </div>
    <div class="book-body">
        <div class="body-inner">
            <div class="book-header" role="navigation">
              {% comment %}
              <a class="btn pull-left js-toolbar-action" aria-label="" href="#"><i class="fa fa-align-justify"></i></a>
              {% endcomment %}
              <a class="btn pull-left js-toolbar-action" aria-label="" href="https://github.com/arangodb/docs/{{ page["path"] }}" target="_blank"><i class="fa fa-edit"></i> Edit Page</a>
          </div>
          <div class="page-wrapper" tabindex="-1" role="main">
            <div class="page-inner markdown-section">
              {{ content }}
              <div id="page-footer" class="localized-footer">
                <hr>
                <p>© ArangoDB - the native multi-model NoSQL database</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
