/* Design fix because of the header */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
  overflow: hidden;
  font-family: Roboto, Helvetica, sans-serif;
  background: #444444;
}

.book .book-header h1 a, .book .book-header h1 a:hover {
  display: none;
}

.book-summary,
.book-body {
  margin-top: 48px;
}

.arangodb-logo, .arangodb-logo-small {
  display: inline;
  float: left;
  padding-top: 12px;
  margin-left: 10px;
}

.arangodb-logo img, .arangodb-logo-small img {
  height: 23px;
}

.arangodb-logo-small {
  display: none;
  margin-right: 5px;
}

.arangodb-version-switcher {
  width: 65px;
  height: 44px;
  margin-left: 16px;
  float: left;
  display: inline;
  font-weight: bold;
  color: #fff;
  background-color: inherit;
  border: 0;
}

.arangodb-version-switcher option {
  background-color: white;
  color: black;
}

.arangodb-version-switcher option:disabled {
  background-color: silver;
}

.arangodb-header {
  position: fixed;
  width: 100%;
  height: 48px;
  z-index: 1;
}

.arangodb-header .socialIcons-googlegroups a img {
  position: relative;
  height: 14px;
  top: 3px;
}

.arangodb-navmenu {
  display: block;
  float: right;
  margin: 0;
  padding: 0;
}

.arangodb-navmenu li {
  display: block;
  float: left;
}

.arangodb-navmenu li a {
  display: block;
  float: left;
  padding: 0 10px;
  line-height: 48px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  font-family: Roboto, Helvetica, sans-serif;
}

.arangodb-navmenu li.active-tab a, .arangodb-navmenu li a:hover {
  background-color: #88A049 !important;
}

/** simple responsive updates **/

@media screen and (max-width: 1000px) {
  .arangodb-logo {
    margin-left: 10px;
  }
  .socialIcons {
    display: none !important;
  }
}

@media screen and (max-width: 640px) {
  .arangodb-navmenu li a {
    font-size: 13px;
    padding: 0 5px;
  }
  .arangodb-logo {
    display: none;
  }
  .arangodb-logo-small {
    display: inline;
  }
  .arangodb-version-switcher {
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .arangodb-version-switcher {
    display: none !important;
  }
}

/*Hubspot Cookie notice */

body div#hs-eu-cookie-confirmation {
  bottom: 0;
  top: auto;
  position: fixed;
  text-align: center !important;
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}

body div#hs-eu-cookie-confirmation.can-use-gradients {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.9),rgba(255,255,255,0.75));
}

body div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner {
  display: inline-block;
  padding: 15px 18px 0;
}

body div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner #hs-en-cookie-confirmation-buttons-area {
  float: left;
}

body div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-confirmation-button {
  background-color: #577138 !important;
  border: none !important;
  text-shadow: none !important;
  box-shadow: none;
  padding: 5px 15px !important;
  margin-left: 10px;
}

body div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner > p {
  float: left;
  color: #000 !important;
  text-shadow: none;
}

body div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p#hs-eu-policy-wording a#privacy-policy {
  color: #4183c4 !important;
}

body div#hs-eu-cookie-confirmation:not([style]) ~ #leadinModal-790626 .leadinModal-content {
  bottom: 50px;
}
