h1 a.anchor-link,
h2 a.anchor-link,
h3 a.anchor-link,
h4 a.anchor-link,
h5 a.anchor-link,
h6 a.anchor-link,
.example-container a.anchor-link {
    visibility: hidden;
}

h1:hover a.anchor-link,
h2:hover a.anchor-link,
h3:hover a.anchor-link,
h4:hover a.anchor-link,
h5:hover a.anchor-link,
h6:hover a.anchor-link,
.example-container:hover a.anchor-link {
    visibility: visible;
}

/* example show/hide */
.example-container.hide-result .example-result {
    display: none;
}

.example-container .show-button {
    display: none;
}

.example-container.hide-result .show-button {
    display: block;
}

.example-container.show-result .show-button {
    display: none;
}

.example-container .hide-button {
    display: none;
}

.example-container.show-result .hide-button {
    display: block;
}

.page-inner {
    font-size: 1.6rem;
    word-wrap: break-word;
    color: #333;
    line-height: 1.7;
}

.page-inner h1::before {
    content: "";
    display: flex;
    width: 200px;
}

.lead {
    font-size: 2rem;
}

.anchor-link {
    padding-left: 0.375em;
}

.page-inner a {
    color: #4183c4;
    text-decoration: none;
    background: 0 0;
}

.page-inner summary {
    color: #4183c4;
    cursor: pointer;
    margin-bottom: 10px;
}

.page-inner p {
    margin-top: 0;
}

.page-inner li p {
    margin: 0;
}

.page-toc:before {
    content: "On this page";
    font-weight: bold;
}

.page-toc {
    float: right;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    padding: 20px !important;
    font-size: smaller;
    margin-left: 20px;
    margin-bottom: 10px;
    max-width: 400px;
}

.page-toc ul {
    padding-left: 0;
}

.page-toc li {
    list-style: none;
    margin-left: 16px;
}

.page-toc li:before {
    content: "\2013\00a0";
    color: #4183c4;
    margin-left: -13px;
}

.page-toc-min-paragraph-width {
    width: 200px;
    overflow: hidden;
}

.searchbar {
    display: inline-block;
}

#search-hits {
    position: absolute;
    width: 400px;
    border: 1px solid black;
    right: 20px;
    top: 50px;
    background-color: #444444;
}

#search-hits .ais-hits--item {
    padding: 10px;
}

#search-hits .ais-hits--item:hover {
    background-color: #88A049;
}

#search-hits a {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    font-family: Roboto, Helvetica, sans-serif;
}

#search-hits a:hover {
    background-color: inherit;
}

#search-hits .post-snippet {
    font-size: 12px;
    color: #ccc;
}

#search-hits .ais-hits__empty {
    padding: 10px;
    color: white;
}

.page-nav {
    margin-top: 30px;
}

.page-nav .next {
    float: right;
}

nav {
    margin-bottom: 40px;
}

.video {
    clear: right;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
}

.video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .arangodb-navmenu li div.searchbar {display: none;}
    .arangodb-navmenu li div.placeholder {display: none;}
}
