h1 a.header-link,
h2 a.header-link,
h3 a.header-link,
h4 a.header-link,
h5 a.header-link,
h6 a.header-link {
    visibility: hidden;
}

h1:hover a.header-link,
h2:hover a.header-link,
h3:hover a.header-link,
h4:hover a.header-link,
h5:hover a.header-link,
h6:hover a.header-link {
    visibility: visible;
}

/* example show/hide */
.example-container.hide-result .example-result {
    display: none;
}

.example-container .show-button {
    display: none;
}

.example-container.hide-result .show-button {
    display: block;
}

.example-container.show-result .show-button {
    display: none;
}

.example-container .hide-button {
    display: none;
}

.example-container.show-result .hide-button {
    display: block;
}

.page-inner {
    font-size: 1.6rem;
    word-wrap: break-word;
    color: #333;
    line-height: 1.7;
}

.header-link {
    padding-left: 0.375em;
}

.page-inner a {
    color: #4183c4;
    text-decoration: none;
    background: 0 0;
}

.page-inner p {
    margin-top: 0;
}