h1 a.header-link,
h2 a.header-link,
h3 a.header-link,
h4 a.header-link,
h5 a.header-link,
h6 a.header-link {
    visibility: hidden;
}

h1:hover a.header-link,
h2:hover a.header-link,
h3:hover a.header-link,
h4:hover a.header-link,
h5:hover a.header-link,
h6:hover a.header-link {
    visibility: visible;
}

/* example show/hide */
.example-container.hide-result .example-result {
    display: none;
}

.example-container .show-button {
    display: none;
}

.example-container.hide-result .show-button {
    display: block;
}

.example-container.show-result .show-button {
    display: none;
}

.example-container .hide-button {
    display: none;
}

.example-container.show-result .hide-button {
    display: block;
}

.page-inner {
    font-size: 1.6rem;
    word-wrap: break-word;
    color: #333;
    line-height: 1.7;
}

.header-link {
    padding-left: 0.375em;
}

.page-inner a {
    color: #4183c4;
    text-decoration: none;
    background: 0 0;
}

.page-inner p {
    margin-top: 0;
}

pre.highlight .s1 {
    color: #718c00;
}

pre.highlight .s2 {
    color: #718c00;
}

pre.highlight .kc {
    color: #f5871f;
}

pre.highlight .mi {
    color: #f5871f;
}

.page-inner li p {
    margin: 0;
}

.page-toc:before {
    content: "Table of Contents";
    font-weight: bold;
}

.page-toc {
    float: right;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    padding: 20px !important;
    font-size: smaller;
    margin-left: 20px;
    margin-bottom: 10px;
    max-width: 400px;
}

.page-toc ul {
    padding-left: 20px;
}

.page-toc > ul {
    padding-left: 0;
}

.page-toc li {
    list-style: none;
    margin-left: 16px;
}

.page-toc li:before {
    content: "\2013\00a0";
    color: #4183c4;
    margin-left: -13px;
}

.page-toc-min-paragraph-width {
    width: 200px;
    overflow: hidden;
}
