.markdown-section small {
    font-size: 80%;
  }
  .markdown-section sub, .markdown-section sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  .markdown-section sup {
    top: -.5em;
  }
  .markdown-section sub {
    bottom: -.25em;
  }

  .markdown-section .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div.example_show_button {
    border: medium solid lightgray;
    text-align: center;
    position: relative;
    top: -10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;
  }

  .book .book-body .navigation.navigation-next {
    right: 10px !important;
  }

  .book .book-summary ul.summary li.active>a,.book .book-summary ul.summary li a:hover {
    color: #fff !important;
    background: #80A54D !important;
    text-decoration: none;
  }

  .book .book-body .page-wrapper .page-inner section.normal .deprecated{
    background-color: rgba(240,240,0,0.4);
  }

  .book .book-body section > ul li:last-child {
    margin-bottom: 0.85em;
  }

  .book .book-body .alert p:last-child {
    margin-bottom: 0;
  }

  .columns-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
    columns: 3;
  }

  .book .book-body .program-options code {
    background-color: #f0f0f0;
  }

  .book .book-body .program-options td {
    vertical-align: top;
  }

  .book .book-body .program-options td:first-child {
    min-width: 250px;
  }

  .book .book-body table td {
    overflow-wrap: break-word;
    word-break: break-word;
    min-width: 8em;
    max-width: 60em;
  }

  .localized-footer {
    opacity: 0.5;
  }

  .example-container {
    position: relative;
  }

}

/* Styling Hubspot pop-up */
.leadinModal.leadinModal-v3 .leadinModal-content {
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
}

.leadinModal-790626 .leadin-button.leadin-advance-button.leadin-button-secondary {
    background: #444 !important;
}

.leadinModal-790626.leadinModal-theme-bottom-right-corner.leadinModal-preview.leadinModal-v3 .leadinModal-content h4 {
    color: #444 !important;
}

.leadinModal-790626.leadinModal-theme-bottom-right-corner.leadinModal-preview.leadinModal-v3 .leadinModal-content p {
    color: #444 !important;
}
/* End styling Hubspot pop-up*/
